*{
  box-sizing: border-box;
}

body {
  font: 400 18px/21px 'Raleway', sans-serif;
  background-color: #fff;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* background */
.box1 {
  height: 747px;
  overflow: auto;
  border: 10px dotted #000;
  background-color: #f0f;
  padding: 100px;
  font-size: 100px;
  line-height: 1;
  /* background-image: url('../images/main_banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  background-origin: padding-box;
  background-attachment: fixed; */
  background-clip: content-box;
  /* background: #0ff url('../images/main_banner.jpg') 50% 0 no-repeat fixed; */
  background: linear-gradient(rgba(37, 43, 73, 0.8),rgba(37, 43, 73, 0.8)),
    url('../images/main_banner.jpg') 0% 0 no-repeat;
  background-size: cover;
  color: #fff;
}

.box2 {
  height: 400px;
  background: linear-gradient(-90deg, #0ff, 50%, #f0f);
}


/* position */
.box_wrap2 {
  margin-top: 100px;
  padding: 100px;
  background-color: #bd0a81;
}

.box_wrap {
  position: relative;
  margin: 30px 0;
  height: 300px;
  font-size: 50px;
  background-color: #0ff;
}

[class*="box_item"] {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 50%;
  left: 50%;
}

.box_item_2 {
  margin-top: -75px;
  margin-left: -75px;
  background-color: #df2020;
  z-index: 5;
}

.box_item_3 {
  margin-top: -95px;
  margin-left: -95px;
  background-color: #1cd168;
  z-index: 4;
}

.box_item_4 {
  margin-top: -115px;
  margin-left: -115px;
  background-color: #2e0de9;
  z-index: 3;
}

.box_item_5 {
  margin-top: -135px;
  margin-left: -135px;
  background-color: #e8f717;
  z-index: 2;
}