body{
  background: #191919;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  box-sizing: border-box;
  letter-spacing: -1px;
}

[class*="box_"]{
  display: inline-flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 20px solid #8F8F8F;
}
.box_1{
  border-color: #714B67;
}
.box_2{
  position: relative;
}
.box_2::before{
  content: "";
  display: block;
  position: absolute;
  top: -20px;
  right: 0;
  width: 20px;
  height: 50px;
  border-radius: 10px;
  background: #8F8F8F;
}
